name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  repository_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build & Deploy
    steps:
      - uses: actions/checkout@v4
      - name: Publish
        uses: cloudflare/wrangler-action@v3
        env:
          CUSTOM_DOMAIN: ${{ secrets.gwinhub.qzz.io || 'libcuda.so' }}
        with:
          apiToken: 0557e30ef81c1a6ed445612a8d7818e20cc47
          accountId: 5b29bce3b2061f8210c013f2bc67470a
          vars:
            gwinhub.qzz.io
          command: deploy --env production --minify src/index.js
          environment: production
